.movie {
  list-style-type: none;
}

.upcoming {
  display: flex;
  flex-wrap: wrap;
}


.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.butt {
  height: 50px;
  width: 90px;
  color: white;
  border-color: white;
  margin: 10px;
}

.num {
  color: white;
  font-size: 30px;
}